@model BusinessBaseDefinition
@{
    Layout = "_CRUDLayout";

    int? idappuser = AppUser.IDAppUser(Context);
}

<link rel="import" href="/AWSLib/awsl-collection">
<link rel="import" href="/AWSLib/awsl-element">
<link rel="import" href="@("/Elements/Load/Customer/CustomerContactEdit/Contact/" + idappuser)">

<dom-module id="aswd-customeredit">
    <template>
        @Html.PolEditor(Model, "idCustomerType")
        @Html.PolEditor(Model, "idCustomerRanking")
        @Html.PolEditor(Model, "name")
        @Html.PolEditor(Model, "creationDate")
        @Html.PolEditor(Model, "memo")
        @Html.PolEditor(Model, "nextCall")
        @Html.PolEditor(Model, "address")

        <h1>Contactos</h1>
        <awsl-collection path="ColContact" childelement="aswd-customercontactedit">
        </awsl-collection>
    </template>
    <script>
    Polymer({
        is: 'aswd-customeredit',
        behaviors: [AWSLBehaviors.ElementBehavior],
    });
    </script>
</dom-module>