@{
    bool error = false;
    string msgError = "";
    AweShur.Web.Demo.Views.Elements.CRUDLocationItem item = null;
    int? idappuser = AppUser.IDAppUser(Context);
    Dictionary<string, DataViewColumn> columns = null;

    try
    {
        string eref = this.Context.Request.Query["e"].NoNullString();

        if (eref == "")
        {
            throw new Exception("Query parameter 'e' missing");
        }
        else
        {
            item = AweShur.Web.Demo.Views.Elements.CRUDLocations.Item(eref);
        }

        columns = BusinessBaseProvider.Instance.GetFilter(
                AppUser.GetAppUser(Context),
                item.ObjectName).Decorator.
                GetFilterColumnsAndFromClause().Item1;
    }
    catch (Exception exp)
    {
        error = true;
        msgError = exp.ToString();
    }

    Layout = "";
}
<link rel="import" href="~/lib/polymer/polymer.html">
<link rel="import" href="~/elements/lib/awsl-listeditor/awsl-listeditor-vaadin.html">

<dom-module id="@item.componentName">
    <template>
        @if (error)
        {
            <div>@msgError</div>
        }
        else
        {
            <awsl-listeditor-vaadin oname="[[oname]]" route="{{route}}" path="[[name]]" title="" id="le"
                edithref='@(item.edithref + "/" + idappuser)' editelement="@item.editelement">
                <table>
                    <colgroup>
                        @foreach (DataViewColumn v in columns.Values)
                        {
                            @if (v.Hidden)
                            {
                                <col hidden="">
                            }
                            else
                            {
                                <col>
                            }
                        }
                    </colgroup>
                    <thead>
                        <tr>
                            @foreach (DataViewColumn v in columns.Values)
                            {
                                <th>@v.Label</th>
                            }
                        </tr>
                    </thead>
                </table>
            </awsl-listeditor-vaadin>
        }
    </template>
    <script>
    Polymer({
        is: '@item.componentName',
        properties: {
            oname: {
                type: String
            },
            route: {
                type: Object,
                notify: true
            }
        },
        refresh: function()
        {
            this.$.le.refresh();
        }
    });
    </script>
</dom-module>
