@{
    bool error = false;
    string msgError = "";
    AweShur.Web.CRUDLocationItem item = null;
    int? idappuser = AppUser.IDAppUser(Context);
    DataView dataView = null;

    try
    {
        string eref = this.Context.Request.Query["e"].NoNullString();

        if (eref == "")
        {
            throw new Exception("Query parameter 'e' missing");
        }
        else
        {
            item = AweShur.Web.CRUDLocations.Item(eref);
        }

        dataView = BusinessBaseProvider.Instance.GetFilter(Context,
            item.ObjectName).GetEmpty();
    }
    catch (Exception exp)
    {
        error = true;
        msgError = exp.ToString();
    }

    Layout = "";


}
<link rel="import" href="~/lib/polymer/polymer.html">
<link rel="import" href="~/elements/lib/awsl-listeditor/awsl-listeditor-vaadin.html">

<dom-module id="@item.componentName">
    <template>
        <style include="shared-styles"></style>
        @if (error)
        {
            <div>@msgError</div>
        }
        else
        {
            <awsl-listeditor-vaadin oname="[[oname]]" route="{{route}}" path="[[name]]" id="le"
                                    edithref='@(item.edithref + "/" + idappuser)' editelement="@item.editelement"
                                    filterhref='@(item.filterhref + "/" + idappuser)' filterelement="@item.filterelement"
                                    title-search="Filter">
            </awsl-listeditor-vaadin>
        }
    </template>
    <script>
    Polymer({
        is: '@item.componentName',
        properties: {
            oname: {
                type: String
            },
            route: {
                type: Object,
                notify: true
            }
        },
        refresh: function()
        {
            this.$.le.refresh();
        },
        customizeItemsList: function (itemsList) {
            @Html.JavascriptVaadinGridColumns("itemsList", dataView)
        }
        //listeners: {
        //    'awsl-editorsenddata': '_test'
        //},
        //_test: function (event) {
        //    debugger;
        //    event.detail.toserver.hello = 'world';
        //}
    });
    </script>
</dom-module>
